@font-face {
    font-family: 'Tourney';
    src: url('../assets/fonts/tourney/Tourney-SemiBold.woff') format('woff'), url('../assets/fonts/tourney/Tourney-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../assets/fonts/staatliches/Staatliches-Regular.woff') format('woff'), url('../assets/fonts/staatliches/Staatliches-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Francois One';
    src: url('../assets/fonts/francois_one/FrancoisOne-Regular.woff') format('woff'), url('../assets/fonts/francois_one/FrancoisOne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Farro';
    src: url('../assets/fonts/farro/Farro-Light.woff') format('woff'), url('../assets/fonts/farro/Farro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/pt_sans/PTSans-Regular.woff') format('woff'), url('../assets/fonts/pt_sans/PTSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/pt_sans/PTSans-Bold.woff') format('woff'), url('../assets/fonts/pt_sans/PTSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../assets/fonts/pt_sans/PTSans-Italic.woff') format('woff'), url('../assets/fonts/pt_sans/PTSans-Italic.woff2') format('woff2');
    font-style: italic;
}