@import url('./reset.css');
@import url('./fonts.css');
@import url('./vars.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--color);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    /* padding: 0 15px; */
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 30px;
}

.header {
    padding: 13px 0;
    padding-bottom: 83px;
    background-color: white;
}

.container .header {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: var(--container-width);
    z-index: 100;
}

/* .header_left {
    display: flex;
    align-items: flex-end;
    gap: 50px;
} */
.nav {
    flex-grow: 1;
}

.lang__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Tourney', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: var(--color);
    line-height: 18px;
    letter-spacing: 4%;

}

.menu {
    display: flex;
    gap: 10px;
}

.menu__link,
.menu li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 3%;
    color: var(--color);
}

.document::after {
    content: '/';
    margin-left: 10px;
}

.main {
    position: relative;
    top: 150px;
}

.bg_picture {
    position: fixed;
    top: 150px;
    right: -132px;
    width: 760px;
    height: 760px;
}


.main_flex_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.side_bar {
    width: 33%;
    /* margin-right: 30px; */
    position: sticky;
    top: 150px;
}

.side_bar_link {
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color);
}

.side_bar_list_item {
    margin-bottom: 70px;
}

.side_bar_list_item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-sidebar);
    margin-top: 10px;
}

.main_right {
    width: 67%;
}

.hidden {
    display: none;
}

.title_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    position: relative;
    left: 120px;
    margin-bottom: 40px;
}

.title_1::before {
    content: '';
    width: 100px;
    height: 8px;
    background-color: var(--color);
    position: absolute;
    top: 20px;
    left: -120px;
}

.article {
    margin-bottom: 70px;
}

.article .title {
    scroll-margin-top: 170px;
}

.title::before {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background-color: var(--color);
    position: absolute;
    top: -20px;
}

.title {
    font-family: var(--title-font-family);
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}

.chapter {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    /* font-style: Light; */
    font-size: 20px;
    letter-spacing: 4%;
    vertical-align: super;
    position: relative;
    top: -10px;
}

.text {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 48px;
}

.text_pad {
    padding-bottom: 40px;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.mark {
    background-color: var(--mark-color);
    padding: 0 5px;
}

/* ====style for cards ===== */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    width: 270px;
    height: 180px;
    background-color: #E6E6E6;
    padding: 50px 30px;
    border-radius: 8px;
}

.card:hover {
    background-color: #1A1A1A;
}

.icons {
    fill: #000;
}

.card:hover .icons {
    fill: aqua;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.cards_container {
    border-top: 1px solid #BFBFBF;
    padding: 20px 15px;
    border-bottom: 1px solid #BFBFBF;

}

/* ==== end style for cards =====*/



/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself 
goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    /* Центрування по горизонталі */
    align-items: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #E6E6E6;
    color: #262626;
}

/* Style the back side */
.flip-card-back {
    background-color: #1A1A1A;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-img {
    max-width: 200px;
    height: auto;
}