:root {
    --main-font-family: 'PT Sans', sans-serif;
    --title-font-family: 'Francois One', sans-serif;
    --main-font-size: 28px;
    --container-width: 1200px;
    --color:#000;
    --mark-color:#d4d4d4;
}